<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="acemail" connectionString="Server=127.0.0.1; Database=acemail; Uid=root; Pwd=projectdb;"
      providerName="MySql.Data.MySqlClient" />
    <add name="DataObjects.Properties.Settings.projectConnectionString"
      connectionString="Data Source=sbox;Initial Catalog=acemail;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <SubSonicService defaultProvider="AceMail">
    <providers>
      <clear/>
      <add name="AceMail" type="SubSonic.MySqlDataProvider, SubSonic" generatedNamespace="DataObjectsDAL" connectionStringName="acemail" /> 
    </providers>
  </SubSonicService>
	<appSettings>
		<add key="connectionstring" value="server=sbox-pc; database=acemail; Integrated Security=True" />
    <add key="hmaildomain" value="localhost.local" />
	</appSettings>
</configuration>